.contain {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerProductCard {
  margin: 5vh 0;
}
.popularProductSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
