.contain {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popularProductSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularProductSection h1 {
  color: var(--accent-primary);
}
